<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetVulture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <NetVulture.Properties.Settings>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="AutoStartTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailAlertingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailUser" serializeAs="String">
                <value>monitoring.bbs@gmail.com</value>
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value>Moni2015@</value>
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="MailServerPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="AutoloadCsvPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoloadCsvEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendSummeryEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendSummeryTime" serializeAs="String">
                <value>03/16/2017 21:44:00</value>
            </setting>
            <setting name="MailDeliveryMethod" serializeAs="String">
                <value />
            </setting>
        </NetVulture.Properties.Settings>
    </userSettings>
</configuration>